<article id="about">
    <h2>What is SLAM?</h2>
    <br />
    <p>
        <em>SLAM stands for SLA Monitor and is a Quality of Service (QOS) monitoring system. The graphs display whether or not SLAs are being met based on response latency and functional completeness. SLAM is not meant to be an exact representation of customer experience SLA, but provides actionable insight into improving the quality of the service monitored.</em>
    </p>
    <p>
        <em>SLAM currently displays results from an external synthetic monitoring system against 3 of our vertical home pages but ignores third party beacons. We will add others such as Cart, Login, Uploads, etc. pages soon. We will also be adding the ability to use other sources of data (such as Graphite) to display QOS for backend processes.</em>
    </p>

    <p>
        <em>SLA stands for Service Level Agreement. We do not have SLAs with our customers, but want to deliver and measure as though we do.</em>
    </p>

    <br /><br />
    <h2>Vertical Views Available:</h2>
    <em>* Add brand to the end of the url *</em>
    <h3 class="vertical-views">
        <a href="http://slam.internal.shutterfly.com/#/graphs/sfly" class="brand-name">Shutterfly</a>
        <em class="brand-links">http://slam.internal.shutterfly.com/#/graphs/
            <span class="brand-alias">sfly</span>
        </em>        
    </h3>   
    <h3 class="vertical-views">
        <a href="http://slam.internal.shutterfly.com/#/graphs/tp" class="brand-name">TinyPrints</a>
        <em class="brand-links">http://slam.internal.shutterfly.com/#/graphs/
            <span class="brand-alias">tp</span>
        </em>  
    </h3> 
    <h3 class="vertical-views">
        <a href="http://slam.internal.shutterfly.com/#/graphs/bl" class="brand-name">BorrowLenses</a>
        <em class="brand-links">http://slam.internal.shutterfly.com/#/graphs/
            <span class="brand-alias">bl</span>
        </em>  
    </h3>
    <h3 class="vertical-views">
        <a href="http://slam.internal.shutterfly.com/#/graphs/wpd" class="brand-name">Wedding Paper Divas</a>
        <em class="brand-links">http://slam.internal.shutterfly.com/#/graphs/
            <span class="brand-alias">wpd</span>
        </em>  
    </h3>  
</article>
